




.floatframe{
	overflow: auto;
	display: flex;
	position: fixed;
	
	top: 5%;
	bottom: 5%;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 90%;
	
	padding-left: 15px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	box-shadow:0 3px 10px 2px #aaaaaa;
	border-radius: 20px;
}

