/*p・a等規模の小さいBlock化を収納・もしくは小物系*/


/*横並び化*/
.flex{display:flex}/*親要素にこれを付けると横並びに出来る。*/
.inlineblock{display:inline-block} /*要素にこれを付けると横並びに出来る。*/

/*ブロック化*/
.block{display:block}

/*ボタン化（四角囲み）*/
.buttonlize-noborder{
	width: auto;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
.buttonlize{
	width: auto;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
	border-width: 1px;
	border-color: #a9a9a9;
	border-style: solid;
	text-align: center;
}