@charset "UTF-8";

@media screen and (max-width: 999px) {
    .body_content {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 100px;
        margin-right: 100px;

        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 599px) {
    .body_content {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;

        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .body_content {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 200px;
        margin-right: 200px;

        padding-top: 10px;
        padding-bottom: 10px;
    }
}



.flexizer {
    display: flex;
}

.floatize_left {
    float: left;
}

.floatize_right {
    float: right;
}


.text_align_justify {
    text-align: justify;
}

.text_align_center {
    text-align: center;
}

.text_align_left {
    text-align: left;
}

.text_align_right {
    
    text-align: right;
}