@charset "UTF-8";

@media screen and (max-width: 999px) {
    footer {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 100px;
        padding-right: 100px;

        background-color: lightgray;
    }
}

@media screen and (max-width: 599px) {
    footer {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;

        background-color: lightgray;
    }
}

@media screen and (min-width: 1000px) {
    footer {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 200px;
        padding-right: 200px;

        background-color: lightgray;
    }
}

#footer_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
}

.footer_grid_item {
    margin: 0px;

    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1rem;
    padding-right: 0px;

    width: calc(50%-(1rem+10px));
}

