@charset "UTF-8";

@media screen and (max-width: 999px) {
    header {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 100px;
        margin-right: 100px;

        display: flex;
    }
}

@media screen and (max-width: 599px) {
    header {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;

        display: flex;
    }
}

@media screen and (min-width: 1000px) {
    header {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 200px;
        margin-right: 200px;

        display: flex;
    }
}

.header_item {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.header_item_logo {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;

    font-size: 1.5rem;

    color: black;
    text-decoration: none;

    cursor: pointer;

    display: inline-block;
    position: relative;
}

.header_item_box_first {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 5px;
    
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 10px;
    padding-right: 10px;

    text-decoration: none;
    color: #0030ff;

    border: 1px solid lightblue;
    border-radius: 5px;

    cursor: pointer;

    box-shadow: 2px 2px 3px -2px;
}

.header_item_box {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 10px;
    padding-right: 10px;

    text-decoration: none;
    color: #0030ff;


    border: 1px solid lightblue;
    border-radius: 5px;

    cursor: pointer;

    box-shadow: 2px 2px 3px -2px;
}

.header_item_logo::after {
    background-color: blue;
    bottom: 3px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: 0.25s all;
    width: 0;

}

.header_item_logo:hover::after {
    width: 100%;
}

.header_item_box:hover,
.header_item_box_first:hover {
    background-color: #dddddd;

    text-decoration: underline;
    transform: scale(115%);

    transition-duration: 0.25s;
}

.header_right_align {
    margin-left: auto;
    margin-right: 0px;
}