/*要素に関する調整*/


/*空白空間*/
.space01{width:1%}
.space05{width:5%}
.space10{width:10%}
.space25{width:25%}
.space50{width:50%}
.space75{width:75%}
.space100{width:100%}

/*要素位置調整*/
.itemcenter{
	margin-left:auto;
	margin-right:auto;
}
.itemleft{
	margin-left:0;
	margin-right:auto;
}
.itemright{
	margin-left:auto;
	margin-right:0;
}

.itemblock{
	margin-left:0;
	margin-right:0;
}

/*要素の行内での位置調整*/
.itemheightcenter{
	margin-left:auto;
	margin-right:auto;
}
.itemsuperscript{
	margin-left:0;
	margin-right:auto;
}
.itemsubscript{
	margin-left:auto;
	margin-right;0;
}