/*一番下のセクション。addressなど。*/


.lowersection{
	background-color: #ffffff;
	width: auto;
	padding-top:10px;
	padding-bottom:75px;
	padding-left: 25px;
	padding-right:25px;
	margin-top:15px;
	margin-bottom:15px;
	border: 1px solid #cccccc;
	border-radius: 20px;
}