/*文字制御*/

.normalizing{
	font-size:medium;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	text-decoration:none;
	text-transform: none;
	letter-spacing:normal;
	word-spacing:normal;
	line-height;normal
}

/*相対的大きさ制御*/
.small{font-size:small}
.smaller{font-size:smaller}
.medium{font-size:medium}
.large{font-size:large}
.larger{font-size:larger}

/*絶対的大きさ制御*/
.text-size-10{font-size:10px}
.text-size-11{font-size:11px}
.text-size-12{font-size:12px}
.text-size-13{font-size:13px}
.text-size-15{font-size:15px}
.text-size-20{font-size:20px}
.text-size-25{font-size:25px}
.text-size-50{font-size:50px}

/*倍数大きさ制御*/
.x0010em{font-size:0.1em}
.x0025em{font-size:0.25em}
.x0050em{font-size:0.5em}
.x0075em{font-size:0.75em}
.x0100em{font-size:1em}
.x0125em{font-size:1.25em}
.x0150em{font-size:1.5em}
.x0175em{font-size:1.75em}
.x0200em{font-size:2em}
.x0400em{font-size:4em}
.x0500em{font-size:5em}
.x1000em{font-size:10em}

/*文字幅制御*/
.normalweight{font-weight: normal}
.bold{font-weight: bold}
.bolder{font-weight: bolder}
.lighter{font-weight: lighter}

/*文字装飾*/
.normalstyle{font-style: normal}
.italic{font-style: italic} /*アルファベットでは筆記体を斜めにしたもの*/
.oblique{font-style: oblique} /*アルファベットでは単に斜めにしたもの*/

.font-sans-serif{font-family:sans-serif} /*ゴシック体系のフォント*/
.font-serif{font-family:serif} /*筆記体系のフォント*/
.font-cursive{font-family:cursive} /*筆記体系のフォント*/
.font-fantasy{font-family:fantasy} /*装飾系のフォント*/
.font-monospace{font-family:monospace} /*等幅系のフォント*/

.normalvariant{font-variant:normal}
.variant{font-variant:small-caps} /*アルファベットの小文字の部分が大文字を縮小したような形で表示*/

.normaldecoration{text-decoration:none}
.underline{text-decoration:underline}
.overline{text-decoration:overline}
.line-through{text-decoration:line-through} /*取り消し線*/
.blink{text-decoration:blink} /*テキスト点滅・blinkの指定は、IE、Safari、Chromeでは対応していません*/

/*文字位置調整*/
.stringcenter{text-align: center}
.stringleft{text-align: left}
.stringright{text-align: right}
.stringjustify{text-align: justify} /*両端揃え*/

/*一行目の１文字字下げ*/
.indent{text-indent: 1em}

/*大文字小文字制御*/
.normaltransform{text-transform: none}
.capitalize{text-transform: capitalize}
.uppercase{text-transform: uppercase}
.lowercase{text-transform: lowercase}

/*文字間隔制御*/
.normalletter-spacing{letter-spacing:normal}
.x0000emletter-spacing{letter-spacing:0em}
.x0010emletter-spacing{letter-spacing:0.1em}
.x0025emletter-spacing{letter-spacing:0.25em}
.x0050emletter-spacing{letter-spacing:0.5em}
.x0075emletter-spacing{letter-spacing:0.75em}
.x0100emletter-spacing{letter-spacing:1em}
.x0125emletter-spacing{letter-spacing:1.25em}
.x0150emletter-spacing{letter-spacing:1.5em}
.x0175emletter-spacing{letter-spacing:1.75em}
.x0200emletter-spacing{letter-spacing:2em}

/*単語間隔制御（英語等のみ）*/
.normalword-spacing{word-spacing:normal}
.x0010emword-spacing{word-spacing:0.1em}
.x0025emword-spacing{word-spacing:0.25em}
.x0050emword-spacing{word-spacing:0.5em}
.x0075emword-spacing{word-spacing:0.75em}
.x0100emword-spacing{word-spacing:1em}
.x0125emword-spacing{word-spacing:1.25em}
.x0150emword-spacing{word-spacing:1.5em}
.x0175emword-spacing{word-spacing:1.75em}
.x0200emword-spacing{word-spacing:2em}

/*行の高さ制御*/
.normalline-height{line-height;normal}
.x0010emline-height{line-height:0.1em}
.x0025emline-height{line-height:0.25em}
.x0050emline-height{line-height:0.5em}
.x0075emline-height{line-height:0.75em}
.x0100emline-height{line-height:1em}
.x0125emline-height{line-height:1.25em}
.x0150emline-height{line-height:1.5em}
.x0175emline-height{line-height:1.75em}
.x0200emline-height{line-height:2em}

/*vertical-alignは未実装*/